################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Module2/Lession6/TDD/NUnit_Test/obj
/Module2/Lession6/TDD/.vs/TDD
/Module2/Lession6/TDD/NUnit_Test/bin/Debug/netcoreapp3.1
/Module2/Lession6/TDD/TDD_Demo/bin/Debug/netcoreapp3.1
/Module2/Lession6/TDD/TDD_Demo/obj
/Module2/CShape/.vscode
/Module2/CShape/bin/Debug/net5.0
/Module2/CShape/obj
/Module2/Lession17/.vscode
/Module2/Lession17/bin/Debug/net5.0
/Module2/Lession17/obj
/Module2/Thread/.vscode
/Module2/Thread/bin/Debug/net5.0
/Module2/Thread/obj
/Module3/Lession8/StudentManagement/.vs/StudentManagement/config
/Module3/Lession8/StudentManagement/StudentManagement/bin/Debug/netcoreapp3.1
