@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <a href="javascript:;" class="btn btn-primary mb-2" onclick="category.openModel()">
        <i class="fa fa-plus"></i>
        Create
    </a>
    <table id="tbCategory" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Category Name</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmCategory">
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" name="CategoryName" class="form-control" data-rule-required="true" />
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="Status"> Status
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="category.save()">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/category.js" asp-append-version="true"></script>
}